pre.rockstar-output {
	border: 2px solid #000;
	height: 64px;
}

button.rockstar-button {
	padding: 16px;
	border: 1px solid $link-color;
	background-color: $button-color !important;
}

pre {
	tab-size: 2 !important;
}

code { border: 0; font-size: 1.1em !important; }
