@page "/rockstar"
@using global::Rockstar.Engine

<PageTitle>Rockstar</PageTitle>

<h1>Rockstar</h1>

<pre>@output</pre>

<button class="btn btn-primary" @onclick="RunProgram">Click me</button>

@code {
	private string output = "(ready!)";
	private Parser Parser = new();
	private readonly StringBuilderIO io = new();
	private RockstarEnvironment env;

	public Rockstar() {
		env = new(io);
	}

	private void RunProgram() {
		env.Execute(Parser.Parse("say \"hello world\""));
		output = io.Output;
	}
}
