---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}" class="{{ page.html_class | default: " page" }}">
{% include head.html %}

<body>
	<header>
		<h1><a href="/">Rockstar</a></h1>
		<h2>Tommy used to work on the docs</h2>
		<nav>
			<a href="/">Home</a>
			<a href="/docs">Docs</a>
			<a href="/examples">Examples</a>
			<a href="/news">News</a>
			<a href="/merch">Merch</a>
			<a href="/community">Community</a>
		</nav>
	</header>
	{{ content }}
	<footer>
		footer
	</footer>
</body>
</html>